<div class="container">
    <div class="row">
        {{#each movies}}
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href="/movies/details/{{_id}}">
                <td>{{name}}</td>
            </a>
            {{#if compressedImage}}
            <a href="/movies/details/{{_id}}">
                <img class="img-responsive" src="{{compressedImage}}">
            </a>
            {{else}}
            <a href="/movies/details/{{_id}}">
                <img class="img-responsive" src="{{image}}">
            </a>
            {{/if}}
            <td>
                <div class="row">
                    {{> keywords}}
                </div>
            </td>
        </div>
        {{/each}}
    </div>
</div>